.main-advancedMenu { 
    border: 3vh solid rgb(32, 32, 32);
    border-radius: 6.6vh;
    margin: auto;
    margin-top: 5.5vh;
     justify-content: center;
     align-items: center;
     width: 140vh;
     height: 75vh;
     text-align: center;
     background-image: url("../../visual/advanced/main.png");
     font-family: 'Atma', cursive;
}

.title-advancedMenu {
    margin-top: 0vh;
    margin-bottom: 1vh;
    color:rgb(32, 32, 32)
}

.title-containerAdvancedMatch {
    background: linear-gradient(24deg, rgb(173 54 145), #c2a6b9);   
    margin-top: 0vh;
    width: 47.8vh;
    border-left-style: dashed;   
    margin-left: 0.6vh;
    border-top: 0.4vh solid black;
}

.title-containerAdvancedMatchBig {
    margin-top: 0vh;
    width: 71.7vh;
    border-left-style: dashed;
    border-top: 0.4vh solid black;
    margin-left: 0.6vh;
    position: absolute;
    background: linear-gradient(24deg, rgb(173 54 145), #c2a6b9);

}

.insideTitle-advancedMenu {
    margin-top: -1vh;
    margin-bottom: -1vh;
}

.floatSmall-advancedMenu {
    margin-top: 17.5vh;
    margin-left: -3vh;
    position: absolute;
}

.floatBig-advancedMenu {
    margin-top: 17.5vh;
    margin-left: -3vh;
    position: absolute;
}

.contain-advancedMenu {
    display: flex;
    margin-top: -0.5vh;
}

.box-vocabulary-advancedMenu {
    width: 55vh;
    height: 26vh;
   
}

.box-choose-advancedMenu {
    width: 85vh;
    height: 26vh;
  
}

.box-grammar-advancedMenu {
    width: 85vh;
    height: 26vh;
    margin-top: 0.5vh;
    border-bottom-left-radius: 3vh;
    

}

.box-match-advancedMenu {
    width: 55vh;
    height: 26vh;
    margin-top: 1vh;
    border-end-end-radius: 5vh;
}



