
.page-footer {
    padding-left: 10vh;
    padding-top: 6vh;
    background-color: black;
    margin-top: 12vh;
    }

.bg-footer {
    background-color: black;
}

.bgSub-footer {
    background-color: rgb(15, 14, 14);
    padding: 1.5vh;
    text-align: center;
    color:#4e4c4c;
    font-size: 2.2vh;
}

.titleMain-footer {
    color:rgb(175, 255, 14);
    margin-right: 6vh;
}

.titleLogo-footer {
    font-family: 'Atma', cursive;
    text-align: center;
    width: 50vh;
    margin-top: 0vh;
    margin-left: -18vh;
    position: absolute;
    color: white;
}

.pic-footer {
 width: 5.3vh;
 height: 5.3vh;
}

.columnS-footer {
    color:rgb(175, 255, 14);
    text-align: center;
}

.icons-footer {
    margin-left: 9vh;
}

.color-footer {
    color: rgb(167, 165, 165)
}

.side-footer {
    margin-left: 18vh;
}