.mainContainer-score {
    border: 0.9vh solid black;
    border-radius: 4vh;
    width: 120vh;
    margin-left: 40vh;
    margin-right: 1.5vh;
    margin-top: 5vh;
    border-radius: 8vh;
    padding: 1vh;
    height: 60vh;
    position: relative;
    background-image: url("../../visual/main/fm.jpg");
  
}

.h2Choose-score {
    border: 0.5vh solid black;
    padding: 2vh;
    margin-top: 1vh;
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
    background-color: white;
    font-family: 'Atma', cursive;
    text-align: center;


}


.logo-score {
    border:  solid black;
    border-radius: 1vh;
    margin-left: 6vh;
    margin-right: 1.5vh;
    display: flex;
    width: 16.6vh;
    height: 16.6vh;
}

.title-nameScore {
    font-family: 'Atma', cursive;
}



.subtitle-optScore {
    font-family: 'Comic Neue', cursive;     
}

.title-score {
    font-family: 'Atma', cursive;
    text-align: center;
    background-color: white;
    border-radius: 9vh;
    font-size: 12vh;
    border: 0.7vh solid black;
    width: 52vh;
    padding-top: 2vh;
    margin: auto;
    margin-top: 3vh;
}

