body {
    background-image: url("../../visual/main/fondoapp.jpg");
    width: 100%;
}

.video-main {
    border: 0.6vh solid black;
    border-radius: 3.7vh;
    width: 45vh;
    display: block;
    margin: auto;
    align-items: center;
    margin-top: 16.5vh;
}

.title-main {
    color: black;
    font-family: 'Atma', cursive;
}

.button-main {
    width: 35vh;
}