.container-login {
    padding: 2vh;
    margin-top: 6vh;
    border: 0.6vh solid black;
    border-radius: 2vh;
    height: 66vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.title-login {
    font-family: 'Atma', cursive;
    
}

.subTitle-login {
    font-family: 'Atma', cursive;
    color: black;
    font-family: 'Atma', cursive;
    color: black;
    height: 14vh;
    font-size: 5vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.therms-login {
    margin-top: 2vh;
    margin-bottom: 2vh;
}